// Define variables for your color scheme

// For example:
$red: #E11D56;
$blue: #4C6AC1;
$yellow: #EDB522;
$orange: #E67E22;
$green: #5FC19F;
$gray: #000000;
$light-gray: #F4F4F4;
$text-title: #323548;
$text-body: #5B5D6D;
