<section class="banner" style="background-image: url('<%= image_path 'banner_2.png' %>');">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-5 ">
      </div>
      <div class="col-md-7 text-left">
        <h1>Vous êtes au bon endroit</h1>
        <p>Equipe digital pour PME en croissance ou simplement ambitieuse <i class="fa fa-heart text-red" aria-hidden="true"></i> <i class="fa fa-heart text-red" aria-hidden="true"></i></p>
        <br>
        <button class="btn btn-red">Je suis une entreprise</button>
        <button class="btn btn-red">Je suis freelance</button>
      </div>
    </div>
  </div>
</section>

<!-- ON Y TRAVAILLE ACTUELLEMENT -->

<section class="section-white">
  <div class="container">
    <div class="row">
      <h3>On y travaille actuellement avec <i class="fa fa-heart text-red" aria-hidden="true"></i></h3>
      <br>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="product-img text-center bg-blue">
            <p>Gestion de récolte, stockage et vente de luzerne</p>
          </div>
          <div class="info">
            <h4 text-left>Fermedebrye</h4>
          </div>
          <div class="description">
            <p class="text-left">Exploitation agricole dans la région gembloutoise, elle cultive et commercialise de la luzerne d'excellente qualité...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="product-img text-center bg-green">
            <p>Gestion des coûts de production de l'activité laitière au jours le jours</p>
          </div>
          <div class="info">
            <h4 text-left>sprl HNB</h4>
          </div>
          <div class="description">
            <p class="text-left">Exploitation agricole dans la région gembloutoise, elle cultive et commercialise de la luzerne d'excellente qualité...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="product-img text-center bg-yellow">
            <p>Gestion locative, administrative, marketing réseau, identité numérique</p>
          </div>
          <div class="info">
            <h4 text-left>hivernage-caravane.be</h4>
          </div>
          <div class="description">
            <p class="text-left">Exploitation agricole dans la région gembloutoise, elle cultive et commercialise de la luzerne d'excellente qualité...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CONQUISTADORS - WHY -->

<section class="section-white">
  <div class="container">
    <div class="row">
      <h3> <i class="fa fa-heart text-red" aria-hidden="true"></i></h3>
    </div>
  </div>
</section>




